<div class="container navbar-background">
    <div class="row">
        <div class = "col-md-4 bg-light">
            <h1 style="margin-left: 5%;">Rob Bentley</h1>
        </div>
        <div class="col-md-2 text-right bg-light">
            <button type="button" class="btn btn-light btn-lg" (click)="ClickHomeButton()">Home</button>
        </div>
        <div class="col-md-2 text-right bg-light">
            <button type="button" class="btn btn-light btn-lg" (click)="ClickAcademicButton()">Academic</button>
        </div>
        <div class="col-md-2 text-right bg-light">
            <button type="button" class="btn btn-light btn-lg" (click)="ClickEmploymentButton()">Employment</button>
        </div>
        <div class="col-md-2 text-right bg-light">
            <button type="button" class="btn btn-light btn-lg" (click)="ClickProjectsButton()">Projects</button>
        </div>
    </div>
</div>


