<div class="container">
    <br/>
    <div class="accordion" id="projectAccordion">
        <div *ngFor="let x of projectList">
            <div class="accordion-item">
                <h2 class="accordion-header" [id]="'heading'+x.id">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse'+x.id" aria-expanded="true" aria-controls="'collapse'+x.id">
                    {{x.title}}
                  </button>
                </h2>
                <div [id]="'collapse'+x.id" class="accordion-collapse collapse" [attr.aria-labelledby]="'heading'+x.id" data-bs-parent="#projectAccordion">
                  <div class="accordion-body">
                      <h3>{{x.technology}}</h3>
                      <p>{{x.description}}</p>
                  </div>
                </div>
              </div>
        </div>
    </div>
</div>