<div class="container">
    <div class = "row">
        <div class="col-sm-12">
            <h1 style="display:table;margin:2% auto">
                About Me
            </h1>
        </div>
    </div>
    <div class = "row justify-content-center align-items-center">
        <div class="col-lg-6">
            <div class="border border-primary rounded about-me-box" style="padding:0% 2%">
                <br/>
                <p>I am a fullstack software developer based in London. The primary technologies I use are C# for backend and Angular for frontend. I also have experience with SQL Server, Microsoft Power Automate, Azure Function Apps, Azure Cognitive Services (Form Recogniser) and Python.</p>
                <p>I am currently working as a technical consultant with Sparta Global for a client in legal services. This role is one in which I work as part of a scrum team, writing frontend and backend code for legal apps and deploying them to the cloud using Azure resources.</p>
                <p>In my free time, I enjoy playing ultimate frisbee, swimming, playing piano, juggling and going to the gym.</p>
            </div>
        </div>
        
        <div class="col-lg-3">
            <img src="/assets/Images/ProfessionalHeadshot.jpg" class="rounded" alt="rob-image" style="width:100%">
        </div>
    </div>
</div>
