<div class="container">
    <div class = "row">
        <div class="col-sm-12">
            <h1 style="display:table;margin:2% auto">
                About Rob
            </h1>
        </div>
    </div>
    <div class = "row justify-content-center align-items-start">
        <div class="col-lg-6 border border-primary rounded">
            <br/>
            <p>Rob is a fullstack software developer based in London. The primary technologies he uses are C# for backend and Angular for frontend. He also has experience with SQL Server, Microsoft Power Automate, Azure Function Apps, Azure Cognitive Services (Form Recogniser), Python and more.</p>
            <p>Rob is currently working as a technical consultant with Sparta Global for a client in legal services. This role is one in which Rob works as part of an agile team, writing frontend and backend code for various legal apps and deploying them to the cloud using Azure resources.</p>
            <p>In his free time, Rob enjoys ultimate frisbee, swimming, piano, juggling and going to the gym.</p>
        </div>
        <div class="col-lg-3">
            <img src="/assets/Images/ProfessionalHeadshot.jpg" class="rounded" alt="rob-image" style="width:100%">
        </div>
    </div>
</div>
